/* --------- Header ---------- */
header {
  background-color: white;
  display: flex;
  justify-content: space-between;
}

header .logo {
  height: 100px;
  width: 200px;
  background-color: gray;
}

header nav {
  display: flex;
  padding-bottom: 10px;
}

header nav button {
  border: none;
  text-align: center;
  padding: 0px 10px;
  background-color: white;
  font-size: 18px;
  margin-top: auto;
}

header nav .home {
  color: darkred;
}

header nav button:hover {
  color: darkred;
}

/* --------- Hero ---------- */
#hero-img {
  height: 300px;
  background-color: gray;
}