@font-face {
	font-family: customFont;
	src: url(/public/)
}

body {
	background-color: gray;
	margin: 0;
	font-family: sans-serif;
}

.logo {
	float: left;
	height: 10vh;
	padding: 1vh;
}

header {
	align-items: center;
	overflow: hidden;
	background-color: white;

	nav {
		float: right;
		display: flex;

		a {
			color: black;
			text-decoration: none;
			font-size: 2vh;
			margin: 1vw;
			padding: 1vw;
		}

		a:hover {
			color: crimson;
			cursor: pointer;
		}
	}
}

footer {
	background-color: crimson;
	overflow: auto;
	display: flex;
	justify-content: space-evenly;
	align-items: center;

	p {
		color: white;
		text-align: center;
	}

	a {
		color: white;
	}
}

.hero-placeholder {
	display: flex;
	height: 40vh;
	background-color: gray;
}

.news-announcement {
	background-color: white;

	h1 {
		text-align: center;
	}
}