header {
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding-bottom: 1vh;
  height: 9vh;
}

header nav {
  display: flex;
  padding-bottom: 1vh;
}

header nav button {
  border: none;
  text-align: center;
  padding: 0px 1vh;
  background-color: white;
  font-size: 20px;
  margin-top: auto;
}

header nav button:hover {
  color: crimson;
}